* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body {
    padding: 0;
    margin: 0;
    background-color: #191919;
}
.container {
    margin: 0 auto;
    width: 1440px;
}
.header_container {
    height: 119px;
    display: inline-flex;
    justify-content: center;
    padding: 0px 50px;
    align-items: center;
}   
.navigation_container {
    width: 1340px;
    height: 67px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.navigation_container img {
    width: 160px;
    height: 33px;
}
.nav_link_block {
    display: flex;
    width: 403px;
    height: 100%;
    justify-content: center;
    align-items: flex-start;
    flex-wrap: wrap;
    align-content: center;
    gap: 40px;
}
.nav_link {
    text-decoration: none;
    color: #FFF;
}
.nav_link:hover {
    color: #118da8;
}

.main_container {
    width: 1440px;
    height: 913px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.main_block {
    width: 1340px;
    height: 873px;
    display: flex;
    justify-content: space-between;
}

.main_block_img {
    
}
.main_block_text {
    width: 650px;
    height: 873.438px;
    display: flex;
    align-items: center;
}
.block_text_clear {
    width: 530px;
    height: 25%;
}
.block_text_contetnt {
    width: 530px;
    height: 50%;
    box-sizing: border-box;
}
.block_text_soucials_icons {
    width: 530px;
    height: 25%;
}
.icons_block {
    width: 289px;
    height: 72px; 
}
.icons_block_text {
    color: #FFF;
    font-family: 'DM Sans', sans-serif;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
}
.icons_block_image {
    display: flex;

}
.icons_block_img {
    margin-top: 10px;
    margin-right: 10px;
}
.block_text_contetnt_p {
    color: #FFF;
    font-family: 'DM Sans', sans-serif;
    font-size: 70px;
    font-style: normal;
    font-weight: 400;
    line-height: 88px; /* 125.714% */
    letter-spacing: 3.2px;
    box-sizing: border-box;
}
.block_text_contetnt_p span {
    color: #FFF;
    font-family: 'DM Sans', sans-serif;
    font-size: 80px;
    font-style: normal;
    font-weight: 700;
    line-height: 88px; /* 110% */
    letter-spacing: 3.2px;
}
.main_block_img img {
    width: 650px;
    height: 873px;
    border-radius: 12px;
    
}
.block_text {
    width: 530px;
    height: 610.578px;
}
.episodes_container {
    width: 1400px;
    height: 2088px;
    display: flex;
    align-items: center;
    flex-direction: column;
}
.name_container {
    margin-top: 100px;
    width: 1300px;
    height: 99px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.name_container_text{
    color: #FFF;
    font-family: 'DM Sans', sans-serif;
    font-size: 64px;
    font-style: normal;
    font-weight: 400;
    line-height: 79.2px; /* 123.75% */
    letter-spacing: 2.88px;
}
.name_container_btn {
    width: 178px;
    height: 51px;
    border-radius: 6px;
    background: #118DA8;
    border: none;
    color: #FFF;
    font-family: 'DM Sans', sans-serif;
    font-size: 17px;
    font-style: normal;
    font-weight: 400;
    line-height: 27px;
    cursor: pointer;
}
.episodes_container_content {
    margin-top: 100px;
    width: 1300px;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
}
.episode_block {
    width: 1300px;
    height: 545px;  
    border-radius: 32px;
    background: #000;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 50px;
}
.episode_block:first-child {
    margin-top: 0;
}
.episode_block_content {
    display: flex;  
    width: 90%;
    height: 80%;
}
.episode_block_content_img {
    width: 30%;
}
.episode_img {
    width: 100%;
    height: 100%;
    object-fit: cover ;
}
.episode_block_content_text {
    width: 70%;
    height: 100%;
    padding-left: 50px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
}
.name_episode {
    display: flex;
    align-items: flex-start;
}
.name_episode_style {
    padding: .3rem;
    display: inline-block;
    max-width: 10rem;
    height: auto;
    background: #191919;
    color: #FFF;
    font-family: 'DM Sans', sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 27px; 
    border-radius: 5px;
    text-align: center;
}

.name_episode span{
    word-break: break-word;
  }

.number_episode {
    color: #118DA8;
    font-family: DM Sans;
    font-size: 17px;
    font-style: normal;
    font-weight: 400;
    line-height: 27px;

}
.title_episode {
    color: #FFF;
    font-family: 'DM Sans', sans-serif;
    font-size: 64px;
    font-style: normal;
    font-weight: 400;
    line-height: 70.4px; /* 110% */
    letter-spacing: 2.56px;
  
}
.description_episode {
    color: rgba(255, 255, 255, 0.70);
    font-family: 'DM Sans', sans-serif;
    font-size: 22px;
    font-style: normal;
    font-weight: 400;
    line-height: 33px;
 
}
.about_container {
    margin-top: 100px;
    width: 1400px;
    height: 943px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.about_block_container {
    display: flex;
    width: 1300px;
    height: 843px;
    justify-content: center;
    align-items: center;
}

.about_block_text {
    width: 50%;
    height: 100%;
}
.about_block_text_content {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
}
.about_block_img{
    width: 50%;
    height: 100%;
    border-radius: 12px;
}
.about_block_image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 12px;
}

.about_block_button {
    width: 112px;
    height: 112px; 
    border-radius: 400px;
    background: #118DA8;
    cursor: pointer;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
}
.about_block_acquaintance {
    color: #118DA8;
    font-family: 'DM Sans', sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 27px; 
    margin-bottom: 20px;
}

.about_block_name {
    color: #FFF;
    font-family: 'DM Sans', sans-serif;
    font-size: 65px;
    font-style: normal;
    font-weight: 400;
    line-height: 79.2px; /* 121.846% */
    letter-spacing: 2.88px;
    margin-bottom: 20px;
}

.about_block_text_one {
    color: rgba(255, 255, 255, 0.70);
    font-family: 'DM Sans', sans-serif;
    font-size: 22px;
    font-style: normal;
    font-weight: 400;
    line-height: 33px;
    margin-bottom: 20px;
}

.about_block_text_two{
    color: rgba(255, 255, 255, 0.70);
    font-family: 'DM Sans', sans-serif;
    font-size: 22px;
    font-style: normal;
    font-weight: 400;
    line-height: 33px;
}

.subsribe_container{
    width: 1400px;
    height: 587px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.subsribe_block {
    width: 1300px;
    height: 387px;
    border-radius: 32px;
    background: #000;
    display: flex;
}

.subsribe_block_text {
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    padding-left: 60px;
    padding-top: 50px;
    
}

.subsribe_block_text_one {
    color: #118DA8;
    font-family: 'DM Sans', sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 27px;
    margin-bottom: 20px;
}

.subsribe_block_text_two {
    color: #FFF;
    font-family: 'DM Sans', sans-serif;
    font-size: 72px;
    font-style: normal;
    font-weight: 400;
    line-height: 79.2px; /* 110% */
    letter-spacing: 2.88px;
}

.subsribe_block_input {
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    padding-top: 50px;
    padding-left: 50px
}

.subsribe_block_input_in {
    margin-bottom: 20px;
}

.subsribe_block_input_in input {
    width: 522px;
    height: 82px;
    border-radius: 6px;
    border: 1px solid #191919;
    background: #191919;
    color: rgba(255, 255, 255, 0.70);
    font-family: 'DM Sans', sans-serif;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: 28.8px;
    padding-left: 19px;
}